openapi: 3.0.0
info:
  title: Portkey Admin API
  description: The Portkey Admin REST API for managing users, workspaces, configs, integrations, providers, prompts, API keys, guardrails, policies, and audit logs. Please see https://portkey.ai/docs/api-reference for more details.
  version: 2.0.0
  termsOfService: https://portkey.ai/terms
  contact:
    name: Portkey Developer Forum
    url: https://portkey.wiki/community
  license:
    name: MIT
    url: https://github.com/Portkey-AI/portkey-openapi/blob/master/LICENSE
servers:
- url: https://api.portkey.ai/v1
  description: Portkey API Public Endpoint
- url: SELF_HOSTED_CONTROL_PLANE_URL
  description: Self-Hosted Control Plane URL
tags:
- name: PromptPartials
  description: Create, List, Retrieve, Update, and Delete prompt partials.
- name: Prompts
  description: Given a prompt template ID and variables, will run the saved prompt template and return a response.
- name: Guardrails
  description: Create, List, Retrieve, Update, and Delete prompt Guardrails.
- name: Configs
  description: Create, List, Retrieve, and Update your Portkey Configs.
- name: Integrations
  description: Create, List, Retrieve, Update, and Delete your Portkey Integrations.
- name: Integrations > Workspaces
  description: Manage workspace access for your Portkey Integrations.
- name: Integrations > Models
  description: Manage model access for your Portkey Integrations.
- name: Providers
  description: Create, List, Retrieve, Update, and Delete your Portkey Providers.
- name: Users
  description: Create and manage users.
- name: User-invites
  description: Create and manage user invites.
- name: Workspaces
  description: Create and manage workspaces.
- name: Workspaces > Members
  description: Create and manage workspace members.
- name: Api-Keys
  description: Create, List, Retrieve, Update, and Delete your Portkey API keys.
- name: Audit Logs
  description: Get audit logs for your Portkey account.
- name: Usage Limits Policies
  description: Manage usage limits policies to control total usage over time
- name: Rate Limits Policies
  description: Manage rate limits policies to control request or token rates
paths:
  /prompts:
    servers: &id001
    - url: https://api.portkey.ai/v1
      description: Portkey API Public Endpoint
    - url: SELF_HOSTED_CONTROL_PLANE_URL
      description: Self-Hosted Control Plane URL
    post:
      summary: Create a new prompt
      operationId: createPrompt
      tags:
      - Prompts
      security:
      - Portkey-Key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - collection_id
              - string
              - parameters
              - virtual_key
              properties:
                name:
                  type: string
                collection_id:
                  type: string
                  description: UUID or slug of the collection
                string:
                  type: string
                  description: Prompt template in string format
                parameters:
                  type: string
                  x-stainless-json-encoded: true
                  description: JSON-encoded parameters for the prompt
                functions:
                  type: array
                  description: Functions for the prompt
                  items:
                    type: string
                    x-stainless-json-encoded: true
                tools:
                  type: array
                  description: Tools for the prompt
                  items:
                    type: string
                    x-stainless-json-encoded: true
                tool_choice:
                  type: string
                  x-stainless-json-encoded: true
                  description: JSON-encoded tool choice for the prompt
                model:
                  type: string
                  description: The model to use for the prompt
                virtual_key:
                  type: string
                  description: The virtual key to use for the prompt
                version_description:
                  type: string
                  description: The description of the prompt version
                template_metadata:
                  type: string
                  x-stainless-json-encoded: true
                  description: JSON-encoded metadata for the prompt
      responses:
        '200':
          description: Prompt created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  slug:
                    type: string
                  version_id:
                    type: string
                    format: uuid
                  object:
                    type: string
                    enum:
                    - prompt
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server error
    get:
      summary: List prompts
      operationId: listPrompts
      tags:
      - Prompts
      security:
      - Portkey-Key: []
      parameters:
      - name: collection_id
        in: query
        schema:
          type: string
      - name: workspace_id
        in: query
        schema:
          type: string
      - name: current_page
        in: query
        schema:
          type: integer
      - name: page_size
        in: query
        schema:
          type: integer
      - name: search
        in: query
        schema:
          type: string
      responses:
        '200':
          description: List of prompts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PromptSummary'
                  total:
                    type: integer
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server error
  /prompts/{promptId}:
    servers: *id001
    get:
      summary: Get a prompt by ID or slug
      operationId: getPrompt
      tags:
      - Prompts
      security:
      - Portkey-Key: []
      parameters:
      - name: promptId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Prompt details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prompt'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Prompt not found
        '500':
          description: Server error
    put:
      summary: Update a prompt
      operationId: updatePrompt
      tags:
      - Prompts
      security:
      - Portkey-Key: []
      parameters:
      - name: promptId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                collection_id:
                  type: string
                string:
                  type: string
                parameters:
                  type: string
                  x-stainless-json-encoded: true
                  description: JSON-encoded parameters
                model:
                  type: string
                virtual_key:
                  type: string
                version_description:
                  type: string
                functions:
                  type: array
                  items:
                    type: string
                    x-stainless-json-encoded: true
                tools:
                  type: array
                  items:
                    type: string
                    x-stainless-json-encoded: true
                tool_choice:
                  type: string
                  x-stainless-json-encoded: true
                  description: JSON-encoded tool choice
                is_raw_template:
                  type: integer
                  enum:
                  - 0
                  - 1
                prompt_metadata:
                  type: string
                  x-stainless-json-encoded: true
                  description: JSON-encoded prompt metadata
      responses:
        '200':
          description: Prompt updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  slug:
                    type: string
                  prompt_version_id:
                    type: string
                    format: uuid
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Prompt not found
        '500':
          description: Server error
    delete:
      summary: Delete a prompt
      operationId: deletePrompt
      tags:
      - Prompts
      security:
      - Portkey-Key: []
      parameters:
      - name: promptId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Prompt deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the deletion was successful
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Prompt not found
        '500':
          description: Server error
  /prompts/{promptId}/versions:
    servers: *id001
    get:
      summary: Get all versions of a prompt
      operationId: getPromptVersions
      tags:
      - Prompts
      security:
      - Portkey-Key: []
      parameters:
      - name: promptId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of prompt versions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PromptVersionSummary'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Prompt not found
        '500':
          description: Server error
  /prompts/{promptId}/versions/{versionId}:
    servers: *id001
    get:
      summary: Get a specific version of a prompt
      operationId: getPromptByVersion
      tags:
      - Prompts
      security:
      - Portkey-Key: []
      parameters:
      - name: promptId
        in: path
        required: true
        schema:
          type: string
      - name: versionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Prompt version details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prompt'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Prompt version not found
        '500':
          description: Server error
    put:
      summary: Update a specific version of a prompt
      operationId: updatePromptVersion
      tags:
      - Prompts
      security:
      - Portkey-Key: []
      parameters:
      - name: promptId
        in: path
        required: true
        schema:
          type: string
      - name: versionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Prompt version updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID
                  success:
                    type: boolean
                    description: Whether the update was successful
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Prompt version not found
        '500':
          description: Server error
  /prompts/{promptId}/makeDefault:
    servers: *id001
    put:
      summary: Set a version as the default for a prompt
      operationId: updatePromptDefault
      tags:
      - Prompts
      security:
      - Portkey-Key: []
      parameters:
      - name: promptId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - version
              properties:
                version:
                  type: number
                  description: Version Number to set as default
      responses:
        '200':
          description: Default version set successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID
                  success:
                    type: boolean
                    description: Whether the update was successful
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Prompt or version not found
        '500':
          description: Server error
  /prompts/partials:
    servers: *id001
    post:
      summary: Create a new prompt partial
      operationId: createPromptPartial
      tags:
      - PromptPartials
      security:
      - Portkey-Key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - string
              properties:
                workspace_id:
                  type: string
                  description: Required for Admin keys
                name:
                  type: string
                string:
                  type: string
                  description: Prompt partial template in string format
                version_description:
                  type: string
      responses:
        '200':
          description: Prompt partial created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  slug:
                    type: string
                  version_id:
                    type: string
                    format: uuid
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server error
    get:
      summary: List prompt partials
      operationId: listPromptPartials
      tags:
      - PromptPartials
      security:
      - Portkey-Key: []
      parameters:
      - name: collection_id
        in: query
        schema:
          type: string
      responses:
        '200':
          description: List of prompt partials
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PromptPartialSummary'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '500':
          description: Server error
  /prompts/partials/{promptPartialId}:
    servers: *id001
    get:
      summary: Get a prompt partial by ID or slug
      operationId: getPromptPartial
      tags:
      - PromptPartials
      security:
      - Portkey-Key: []
      parameters:
      - name: promptPartialId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Prompt partial details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromptPartial'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Prompt partial not found
        '500':
          description: Server error
    put:
      summary: Update a prompt partial
      operationId: updatePromptPartial
      tags:
      - PromptPartials
      security:
      - Portkey-Key: []
      parameters:
      - name: promptPartialId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                string:
                  type: string
                description:
                  type: string
                status:
                  type: string
      responses:
        '200':
          description: Prompt partial updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  prompt_partial_version_id:
                    type: string
                    format: uuid
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Prompt partial not found
        '500':
          description: Server error
    delete:
      summary: Delete a prompt partial
      operationId: deletePromptPartial
      tags:
      - PromptPartials
      security:
      - Portkey-Key: []
      parameters:
      - name: promptPartialId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Prompt partial deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the deletion was successful
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Prompt partial not found
        '500':
          description: Server error
  /prompts/partials/{promptPartialId}/versions:
    servers: *id001
    get:
      summary: Get all versions of a prompt partial
      operationId: getPromptPartialVersions
      tags:
      - PromptPartials
      security:
      - Portkey-Key: []
      parameters:
      - name: promptPartialId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of prompt partial versions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PromptPartialVersion'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Prompt partial not found
        '500':
          description: Server error
  /prompts/partials/{promptPartialId}/makeDefault:
    servers: *id001
    put:
      summary: Set a version as the default for a prompt partial
      operationId: updatePromptPartialDefault
      tags:
      - PromptPartials
      security:
      - Portkey-Key: []
      parameters:
      - name: promptPartialId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - version
              properties:
                version:
                  type: number
                  description: Version Number to set as default
      responses:
        '200':
          description: Default version set successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID
                  success:
                    type: boolean
                    description: Whether the update was successful
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Prompt partial or version not found
        '500':
          description: Server error
  /guardrails:
    post:
      summary: Create a new guardrail
      description: Creates a new guardrail with specified checks and actions
      operationId: createGuardrail
      tags:
      - Guardrails
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGuardrailRequest'
            examples:
              jwt_authentication:
                summary: '[BASIC] JWT Token Validation'
                value:
                  name: JWT Authentication Guard
                  organisation_id: 550e8400-e29b-41d4-a716-446655440001
                  checks:
                  - id: default.jwt
                    parameters:
                      jwksUri: https://example.com/.well-known/jwks.json
                      headerKey: Authorization
                      algorithms:
                      - RS256
                      cacheMaxAge: 86400
                      clockTolerance: 5
                      maxTokenAge: 1d
                  actions:
                    onFail: block
                    message: Invalid JWT token
              model_whitelist:
                summary: '[BASIC] Model Whitelist Control'
                value:
                  name: Allowed Models Only
                  workspace_id: 550e8400-e29b-41d4-a716-446655440000
                  checks:
                  - id: default.modelWhitelist
                    parameters:
                      models:
                      - gpt-4
                      - gpt-3.5-turbo
                      - claude-3-sonnet
                      - claude-3-haiku
                  actions:
                    onFail: block
                    message: Model not in approved whitelist
              case_validation:
                summary: '[BASIC] Case Validation Checks'
                value:
                  name: Text Case Validation
                  workspace_id: 550e8400-e29b-41d4-a716-446655440000
                  checks:
                  - id: default.isAllLowerCase
                  - id: default.alluppercase
                    parameters:
                      not: true
                  actions:
                    onFail: log
                    message: Text case validation failed
              content_regex:
                summary: '[BASIC] Regex Pattern Matching'
                value:
                  name: Content Pattern Validation
                  workspace_id: 550e8400-e29b-41d4-a716-446655440000
                  checks:
                  - id: default.regexMatch
                    parameters:
                      rule: \b(inappropriate|banned|harmful|offensive)\b
                      not: false
                  - id: default.endsWith
                    parameters:
                      suffix: .
                      not: false
                  actions:
                    onFail: block
                    message: Content violates pattern rules
              length_controls:
                summary: '[BASIC] Content Length Controls'
                value:
                  name: Content Length Validation
                  workspace_id: 550e8400-e29b-41d4-a716-446655440000
                  checks:
                  - id: default.wordCount
                    parameters:
                      minWords: 5
                      maxWords: 500
                      not: false
                  - id: default.sentenceCount
                    parameters:
                      minSentences: 1
                      maxSentences: 20
                      not: false
                  - id: default.characterCount
                    parameters:
                      minCharacters: 10
                      maxCharacters: 4000
                      not: false
                  actions:
                    onFail: block
                    message: Content length out of bounds
              json_validation:
                summary: '[BASIC] JSON Structure Validation'
                value:
                  name: JSON Response Validation
                  workspace_id: 550e8400-e29b-41d4-a716-446655440000
                  checks:
                  - id: default.jsonSchema
                    parameters:
                      schema:
                        type: object
                        properties:
                          result:
                            type: string
                          confidence:
                            type: number
                            minimum: 0
                            maximum: 1
                          metadata:
                            type: object
                        required:
                        - result
                      not: false
                  - id: default.jsonKeys
                    parameters:
                      keys:
                      - result
                      - timestamp
                      - id
                      operator: all
                  actions:
                    onFail: block
                    message: Response does not match expected format
              content_analysis:
                summary: '[BASIC] Content Analysis Checks'
                value:
                  name: Content Quality Checks
                  workspace_id: 550e8400-e29b-41d4-a716-446655440000
                  checks:
                  - id: default.contains
                    parameters:
                      words:
                      - please
                      - thank you
                      - help
                      operator: any
                  - id: default.validUrls
                    parameters:
                      onlyDNS: true
                      not: false
                  - id: default.containsCode
                    parameters:
                      format: SQL
                      not: true
                  actions:
                    onFail: warn
                    message: Content quality check failed
              webhook_integration:
                summary: '[BASIC] Custom Webhook Validation'
                value:
                  name: External Validation Service
                  workspace_id: 550e8400-e29b-41d4-a716-446655440000
                  checks:
                  - id: default.webhook
                    parameters:
                      webhookURL: https://api.example.com/validate-content
                      headers:
                        Authorization: Bearer token123
                        Content-Type: application/json
                        X-API-Version: v1
                      timeout: 5000
                      failOnError: true
                  actions:
                    onFail: block
                    message: External validation failed
              metadata_validation:
                summary: '[BASIC] Required Metadata Keys'
                value:
                  name: Metadata Requirement Check
                  workspace_id: 550e8400-e29b-41d4-a716-446655440000
                  checks:
                  - id: default.requiredMetadataKeys
                    parameters:
                      metadataKeys:
                      - user_id
                      - session_id
                      - request_type
                      operator: all
                  actions:
                    onFail: block
                    message: Required metadata missing
              portkey_moderation:
                summary: '[PRO] OpenAI Content Moderation'
                value:
                  name: Advanced Content Moderation
                  workspace_id: 550e8400-e29b-41d4-a716-446655440000
                  checks:
                  - id: portkey.moderateContent
                    parameters:
                      categories:
                      - hate/threatening
                      - harassment/threatening
                      - self-harm/intent
                      - sexual/minors
                      - violence/graphic
                      timeout: 5000
                  actions:
                    onFail: block
                    message: Content flagged by moderation system
              portkey_language:
                summary: '[PRO] Language Detection & Validation'
                value:
                  name: Multi-Language Support
                  workspace_id: 550e8400-e29b-41d4-a716-446655440000
                  checks:
                  - id: portkey.language
                    parameters:
                      language: eng_Latn
                      not: false
                      timeout: 5000
                  actions:
                    onFail: block
                    message: Content not in expected language
              portkey_pii:
                summary: '[PRO] Advanced PII Detection'
                value:
                  name: PII Protection System
                  workspace_id: 550e8400-e29b-41d4-a716-446655440000
                  checks:
                  - id: portkey.pii
                    parameters:
                      redact: true
                      categories:
                      - EMAIL_ADDRESS
                      - PHONE_NUMBER
                      - SSN
                      - CREDIT_CARD
                      - NAME
                      timeout: 5000
                  actions:
                    onFail: block
                    message: PII detected and redacted
              portkey_gibberish:
                summary: '[PRO] Gibberish Detection'
                value:
                  name: Content Quality Filter
                  workspace_id: 550e8400-e29b-41d4-a716-446655440000
                  checks:
                  - id: portkey.gibberish
                    parameters:
                      timeout: 5000
                  actions:
                    onFail: block
                    message: Content appears to be gibberish
              sydelabs_security:
                summary: '[PARTNER] SydeLabs AI Security'
                value:
                  name: AI Security Suite
                  workspace_id: 550e8400-e29b-41d4-a716-446655440000
                  checks:
                  - id: sydelabs.sydeguard
                    parameters:
                      prompt_injection_threshold: 0.5
                      toxicity_threshold: 0.3
                      evasion_threshold: 0.6
                      timeout: 5000
                  actions:
                    onFail: block
                    message: AI security check failed
              aporia_validation:
                summary: '[PARTNER] Aporia Project Validation'
                value:
                  name: Aporia Policy Enforcement
                  workspace_id: 550e8400-e29b-41d4-a716-446655440000
                  checks:
                  - id: aporia.validateProject
                    parameters:
                      projectID: proj_abc123
                      timeout: 5000
                  actions:
                    onFail: block
                    message: Aporia validation failed
              pillar_scanning:
                summary: '[PARTNER] Pillar Security Scanning'
                value:
                  name: Comprehensive Security Scan
                  workspace_id: 550e8400-e29b-41d4-a716-446655440000
                  checks:
                  - id: pillar.scanPrompt
                    parameters:
                      scanners:
                      - prompt_injection
                      - pii
                      - secrets
                      - toxic_language
                      - invisible_characters
                      timeout: 5000
                  - id: pillar.scanResponse
                    parameters:
                      scanners:
                      - pii
                      - secrets
                      - toxic_language
                      timeout: 5000
                  actions:
                    onFail: block
                    message: Security scan detected issues
              patronus_comprehensive:
                summary: '[PARTNER] Patronus AI Complete Suite'
                value:
                  name: Patronus Content Analysis
                  workspace_id: 550e8400-e29b-41d4-a716-446655440000
                  checks:
                  - id: patronus.pii
                    parameters:
                      redact: true
                      timeout: 5000
                  - id: patronus.toxicity
                    parameters:
                      timeout: 5000
                  - id: patronus.noGenderBias
                    parameters:
                      timeout: 15000
                  - id: patronus.isHelpful
                    parameters:
                      timeout: 15000
                  - id: patronus.custom
                    parameters:
                      profile: system:is-concise
                      timeout: 15000
                  actions:
                    onFail: block
                    message: Content failed Patronus analysis
              azure_content_safety:
                summary: '[PARTNER] Azure Content Safety Suite'
                value:
                  name: Microsoft Azure Safety
                  workspace_id: 550e8400-e29b-41d4-a716-446655440000
                  checks:
                  - id: azure.contentSafety
                    parameters:
                      blocklistNames:
                      - company_blocklist
                      apiVersion: '2024-09-01'
                      severity: 2
                      categories:
                      - Hate
                      - SelfHarm
                      - Sexual
                      - Violence
                      timeout: 5000
                  - id: azure.pii
                    parameters:
                      domain: phi
                      apiVersion: '2024-11-01'
                      modelVersion: latest
                      redact: true
                      timeout: 5000
                  actions:
                    onFail: block
                    message: Azure safety checks failed
              mistral_moderation:
                summary: '[PARTNER] Mistral Content Moderation'
                value:
                  name: Mistral AI Moderation
                  workspace_id: 550e8400-e29b-41d4-a716-446655440000
                  checks:
                  - id: mistral.moderateContent
                    parameters:
                      categories:
                      - sexual
                      - hate_and_discrimination
                      - violence_and_threats
                      - selfharm
                      - pii
                      timeout: 5000
                  actions:
                    onFail: block
                    message: Mistral moderation flagged content
              bedrock_enterprise:
                summary: '[PARTNER] AWS Bedrock Guardrails'
                value:
                  name: Enterprise AWS Security
                  workspace_id: 550e8400-e29b-41d4-a716-446655440000
                  checks:
                  - id: bedrock.guard
                    parameters:
                      guardrailVersion: DRAFT
                      guardrailId: gdrail123abc
                      redact: true
                      timeout: 5000
                  actions:
                    onFail: block
                    message: AWS Bedrock guardrail violation
              promptfoo_testing:
                summary: '[PARTNER] Promptfoo Security Testing'
                value:
                  name: Security Testing Suite
                  workspace_id: 550e8400-e29b-41d4-a716-446655440000
                  checks:
                  - id: promptfoo.guard
                    parameters:
                      timeout: 5000
                  - id: promptfoo.pii
                    parameters:
                      redact: true
                      timeout: 5000
                  - id: promptfoo.harm
                    parameters:
                      timeout: 5000
                  actions:
                    onFail: block
                    message: Promptfoo security tests failed
              acuvity_comprehensive:
                summary: '[PARTNER] Acuvity Multi-Vector Security'
                value:
                  name: Complete Security Analysis
                  workspace_id: 550e8400-e29b-41d4-a716-446655440000
                  checks:
                  - id: acuvity.scan
                    parameters:
                      prompt_injection: true
                      prompt_injection_threshold: 0.5
                      toxic: true
                      toxic_threshold: 0.3
                      jail_break: true
                      jail_break_threshold: 0.6
                      malicious_url: true
                      biased: true
                      harmful: true
                      language: true
                      language_values: english
                      pii: true
                      pii_redact: true
                      pii_categories:
                      - email_address
                      - ssn
                      - credit_card
                      secrets: true
                      secrets_redact: true
                      secrets_categories:
                      - aws_secret_key
                      - openai
                      - github
                      timeout: 5000
                  actions:
                    onFail: block
                    message: Comprehensive security scan failed
              lasso_classification:
                summary: '[PARTNER] Lasso Security Classification'
                value:
                  name: Content Classification
                  workspace_id: 550e8400-e29b-41d4-a716-446655440000
                  checks:
                  - id: lasso.classify
                    parameters:
                      timeout: 5000
                  actions:
                    onFail: block
                    message: Lasso classification failed
              panw_prisma:
                summary: '[PARTNER] PANW Prisma AIRS Enterprise'
                value:
                  name: Enterprise Security Runtime
                  workspace_id: 550e8400-e29b-41d4-a716-446655440000
                  checks:
                  - id: panw-prisma-airs.intercept
                    parameters:
                      profile_name: enterprise_profile
                      ai_model: gpt-4
                      app_user: api_user_123
                  actions:
                    onFail: block
                    message: Prisma AIRS blocked request
      responses:
        '200':
          description: Guardrail created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateGuardrailResponse'
        '400':
          description: Bad request - validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions or guardrail not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      summary: List guardrails
      description: Retrieves a paginated list of guardrails for the specified workspace or organisation
      operationId: listGuardrails
      tags:
      - Guardrails
      parameters:
      - name: workspace_id
        in: query
        description: Workspace UUID to filter guardrails
        schema:
          type: string
          format: uuid
      - name: organisation_id
        in: query
        description: Organisation UUID to filter guardrails
        schema:
          type: string
          format: uuid
      - name: page_size
        in: query
        description: Number of items per page
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
      - name: current_page
        in: query
        description: Current page number (0-indexed)
        schema:
          type: integer
          minimum: 0
          default: 0
      responses:
        '200':
          description: List of guardrails retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListGuardrailsResponse'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /guardrails/{guardrailId}:
    get:
      summary: Get a specific guardrail
      description: Retrieves details of a specific guardrail by ID or slug
      operationId: getGuardrail
      tags:
      - Guardrails
      parameters:
      - name: guardrailId
        in: path
        required: true
        description: Guardrail UUID or slug (with guard_ prefix)
        schema:
          type: string
        examples:
          uuid:
            summary: Using UUID
            value: 550e8400-e29b-41d4-a716-446655440000
          slug:
            summary: Using slug
            value: guard_abc123
      responses:
        '200':
          description: Guardrail details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuardrailDetails'
        '403':
          description: Forbidden - guardrail not found or insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update a guardrail
      description: Updates an existing guardrail's name, checks, or actions
      operationId: updateGuardrail
      tags:
      - Guardrails
      parameters:
      - name: guardrailId
        in: path
        required: true
        description: Guardrail UUID or slug to update
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGuardrailRequest'
      responses:
        '200':
          description: Guardrail updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateGuardrailResponse'
        '400':
          description: Bad request - validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - guardrail not found or insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      summary: Delete a guardrail
      description: Deletes an existing guardrail
      operationId: deleteGuardrail
      tags:
      - Guardrails
      parameters:
      - name: guardrailId
        in: path
        required: true
        description: Guardrail UUID or slug to delete
        schema:
          type: string
      responses:
        '200':
          description: Guardrail deleted successfully
        '403':
          description: Forbidden - guardrail not found or insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /configs:
    servers: *id001
    get:
      summary: List all configs
      tags:
      - Configs
      operationId: listConfigs
      responses:
        '200':
          description: A list of configs
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        name:
                          type: string
                        slug:
                          type: string
                        organisation_id:
                          type: string
                          format: uuid
                        workspace_id:
                          type: string
                          format: uuid
                        is_default:
                          type: integer
                        status:
                          type: string
                        owner_id:
                          type: string
                          format: uuid
                        updated_by:
                          type: string
                          format: uuid
                        created_at:
                          type: string
                          format: date-time
                        last_updated_at:
                          type: string
                          format: date-time
              examples:
                example-1:
                  value:
                    success: true
                    data:
                    - id: 4e54a1a4-109c-43ee-b0f7-11e7d60b0066
                      name: Pplx Cache Test
                      slug: pc-pplx-c-ca7a87
                      organisation_id: 472d2804-d054-4226-b4ae-9d4e2e61e69e
                      workspace_id: 472d2804-d054-4226-b4ae-9d4e2e61e69e
                      is_default: 0
                      status: active
                      owner_id: c4c7996d-be62-429d-b787-5d48fe94da86
                      updated_by: 439268ba-94a2-4031-9ca7-ca88ddda5096
                      created_at: '2024-05-12T21:37:06.000Z'
                      last_updated_at: '2024-05-23T23:36:06.000Z'
      x-code-samples:
      - lang: python
        label: Default
        source: |
          from portkey_ai import Portkey

          # Initialize the Portkey client
          portkey = Portkey(
              api_key="PORTKEY_API_KEY",
          )

          # Retrieve the configuration
          config = portkey.configs.list(
              workspace_id="WORKSPACE_ID"
          )

          print(config)
      - lang: javascript
        label: Default
        source: |
          import { Portkey } from "portkey-ai";

          const portkey = new Portkey({
              apiKey:"PORTKEY_API_KEY",
          })

          const config=await portkey.configs.list({
              workspace_id:"WORKSPACE_ID"
          })
          console.log(config);
      - lang: python
        label: Self-Hosted
        source: |
          from portkey_ai import Portkey

          # Initialize the Portkey client
          portkey = Portkey(
              api_key="PORTKEY_API_KEY",
              base_url="SELF_HOSTED_CONTROL_PLANE_URL"
          )

          # Retrieve the configuration
          config = portkey.configs.list(
              workspace_id="WORKSPACE_ID"
          )

          print(config)
      - lang: javascript
        label: Self-Hosted
        source: |
          import { Portkey } from "portkey-ai";

          const portkey = new Portkey({
              apiKey:"PORTKEY_API_KEY",
              baseUrl: "SELF_HOSTED_CONTROL_PLANE_URL"
          })

          const config=await portkey.configs.list({
              workspace_id:"WORKSPACE_ID"
          })
          console.log(config);
    post:
      summary: Create a config
      tags:
      - Configs
      operationId: createConfig
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                config:
                  type: string
                  x-stainless-json-encoded: true
                  description: JSON-encoded config object
                isDefault:
                  type: integer
                workspace_id:
                  type: string
                  format: uuid
                  description: optional, when using organisation admin API keys
            examples:
              example-1:
                value:
                  name: New config
                  config:
                    retry:
                      attempts: 3
                  workspace_id: ''
                  isDefault: 1
      responses:
        '200':
          description: Config created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  version_id:
                    type: string
                    format: uuid
                  slug:
                    type: string
                  object:
                    type: string
                    enum:
                    - config
              examples:
                example-1:
                  value:
                    id: f3d8d070-f29d-43a3-bf97-3159c60f4ce0
                    version_id: 0db4065b-ead2-4daa-bf5e-7e9106585133
                    slug: pc-my-config-abc123
                    object: config
      x-code-samples:
      - lang: python
        label: Default
        source: |
          from portkey_ai import Portkey

          portkey = Portkey(
              api_key="PORTKEY_API_KEY",
          )

          # Create a new configuration
          config = portkey.configs.create(
              name="ConfigName_0909",
              config={
                  "retry": {
                      "attempts": 3
                  },
                  "cache": {
                      "mode": "simple"
                  }
              },
              workspace_id="WORKSPACE_ID",
          )

          print(config)
      - lang: javascript
        label: Default
        source: |
          import { Portkey } from "portkey-ai";

          const portkey = new Portkey({
              apiKey:"PORTKEY_API_KEY",
          })

          const config=await portkey.configs.create({
              name:"ConfigName_0909",
              config:{
                  "retry": {
                      "attempts": 3
                  },
                  "cache": {
                      "mode": "simple"
                  }
              },
              workspace_id:"WORKSPACE_ID"
          })

          console.log(config);
      - lang: python
        label: Self-Hosted
        source: |
          from portkey_ai import Portkey

          # Initialize the Portkey client
          portkey = Portkey(
              api_key="PORTKEY_API_KEY",
              base_url="SELF_HOSTED_CONTROL_PLANE_URL"
          )

          # Create a new configuration
          config = portkey.configs.create(
              name="ConfigName_0909",
              config={
                  "retry": {
                      "attempts": 3
                  },
                  "cache": {
                      "mode": "simple"
                  }
              },
              workspace_id="WORKSPACE_ID",
          )

          print(config)
      - lang: javascript
        label: Self-Hosted
        source: |
          import { Portkey } from "portkey-ai";

          const portkey = new Portkey({
              apiKey:"PORTKEY_API_KEY",
              baseUrl: "SELF_HOSTED_CONTROL_PLANE_URL"
          })

          const config=await portkey.configs.create({
              name:"ConfigName_0909",
              config:{
                  "retry": {
                      "attempts": 3
                  },
                  "cache": {
                      "mode": "simple"
                  }
              },
              workspace_id:"WORKSPACE_ID"
          })

          console.log(config);
  /configs/{slug}:
    servers: *id001
    delete:
      summary: Delete a config
      tags:
      - Configs
      operationId: deleteConfig
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Config deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the deletion was successful
              examples:
                example-1:
                  value: {}
      x-code-samples:
      - lang: python
        label: Default
        source: |
          portkey = Portkey(
              api_key="PORTKEY_API_KEY",
          )

          portkey.configs.delete(
              id="CONFIG_SLUG"
          )
      - lang: javascript
        label: Default
        source: |
          import { Portkey } from "portkey-ai";

          const portkey = new Portkey({
              apiKey:"PORTKEY_API_KEY",
          })

          await portkey.configs.delete({
              id:"CONFIG_SLUG"
          })
      - lang: python
        label: Self-Hosted
        source: |
          from portkey_ai import Portkey

          portkey = Portkey(
              api_key="PORTKEY_API_KEY",
              base_url="SELF_HOSTED_CONTROL_PLANE_URL"
          )

          portkey.configs.delete(
              id="CONFIG_SLUG"
          )
      - lang: javascript
        label: Self-Hosted
        source: |
          import { Portkey } from "portkey-ai";

          const portkey = new Portkey({
              apiKey:"PORTKEY_API_KEY",
              baseUrl: "SELF_HOSTED_CONTROL_PLANE_URL"
          })

          await portkey.configs.delete({
              id:"CONFIG_SLUG"
          })
    get:
      servers: *id001
      summary: Get a config
      tags:
      - Configs
      operationId: getConfig
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Config details
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                  workspace_id:
                    type: string
                    format: uuid
                  slug:
                    type: string
                  organisation_id:
                    type: string
                    format: uuid
                  is_default:
                    type: integer
                  status:
                    type: string
                  owner_id:
                    type: string
                    format: uuid
                  updated_by:
                    type: string
                    format: uuid
                  created_at:
                    type: string
                    format: date-time
                  last_updated_at:
                    type: string
                    format: date-time
                  config:
                    type: string
                    description: JSON-encoded config object
                  format:
                    type: string
                  type:
                    type: string
                  version_id:
                    type: string
                    format: uuid
                  object:
                    type: string
                    enum:
                    - config
              examples:
                example-1:
                  value:
                    id: f3d8d070-f29d-43a3-bf97-3159c60f4ce0
                    name: my-config
                    workspace_id: 878632ce-4ac0-451e-8ed4-0703f3944a07
                    slug: pc-my-config-abc123
                    organisation_id: c34223e8-d419-4ee6-8f46-f7f5675da424
                    is_default: 0
                    status: active
                    config: '{"retry":{"attempts":3}}'
                    version_id: 0db4065b-ead2-4daa-bf5e-7e9106585133
                    object: config
      x-code-samples:
      - lang: python
        label: Default
        source: |
          from portkey_ai import Portkey

          # Initialize the Portkey client
          portkey = Portkey(
              api_key="PORTKEY_API_KEY",
          )

          # Retrieve the configuration
          config = portkey.configs.retrieve(
              slug='CONFIG_SLUG'
          )

          print(config)
      - lang: javascript
        label: Default
        source: |
          import { Portkey } from "portkey-ai";

          const portkey = new Portkey({
              apiKey:"PORTKEY_API_KEY",
          })

          const config=await portkey.configs.retrieve({
              slug:'CONFIG_SLUG'
          })

          console.log(config);
      - lang: python
        label: Self-Hosted
        source: |
          from portkey_ai import Portkey

          # Initialize the Portkey client
          portkey = Portkey(
              api_key="PORTKEY_API_KEY",
              base_url="SELF_HOSTED_CONTROL_PLANE_URL"
          )

          # Retrieve the configuration
          config = portkey.configs.retrieve(
              slug='CONFIG_SLUG'
          )

          print(config)
      - lang: javascript
        label: Self-Hosted
        source: |
          import { Portkey } from "portkey-ai";

          const portkey = new Portkey({
              apiKey:"PORTKEY_API_KEY",
              baseUrl: "SELF_HOSTED_CONTROL_PLANE_URL"
          })

          const config=await portkey.configs.retrieve({
              slug:'CONFIG_SLUG'
          })

          console.log(config);
    put:
      servers: *id001
      summary: Update a config
      tags:
      - Configs
      operationId: updateConfig
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                config:
                  type: object
                  properties:
                    virtual_key:
                      type: string
                status:
                  type: string
            examples:
              example-1:
                value:
                  name: testConf
                  config:
                    virtual_key: copy-of-anthrop-b20259
                  status: active
      responses:
        '200':
          description: Config updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  version_id:
                    type: string
                    format: uuid
                  object:
                    type: string
                    enum:
                    - config
              examples:
                example-1:
                  value:
                    version_id: abe447e2-f6aa-4229-93b7-8ee3183b6667
                    object: config
      x-code-samples:
      - lang: python
        label: Default
        source: |
          portkey = Portkey(
              api_key="PORTKEY_API_KEY",
          )

          # Update the configuration
          updated_config = portkey.configs.update(
              slug="CONFIG_SLUG",
              name="Updated Config",
              config={
                  "retry": {
                      "attempts": 3
                  },
                  "cache": {
                      "mode": "semantic"
                  }
              }
          )
          print(updated_config)
      - lang: javascript
        label: Default
        source: |
          import { Portkey } from "portkey-ai";

          const portkey = new Portkey({
              apiKey:"PORTKEY_API_KEY",
          })

          const config=await portkey.configs.update({
              slug:"CONFIG_SLUG",
              name:"Updated Config",
              config:{
                  "retry": {
                      "attempts": 3
                  },
                  "cache": {
                      "mode": "semantic"
                  }
              },

          })

          console.log(config);
      - lang: python
        label: Self-Hosted
        source: |
          from portkey_ai import Portkey

          # Initialize the Portkey client
          portkey = Portkey(
              api_key="PORTKEY_API_KEY",
              base_url="SELF_HOSTED_CONTROL_PLANE_URL"
          )

          # Update the configuration
          updated_config = portkey.configs.update(
              slug="CONFIG_SLUG",
              name="Updated Config",
              config={
                  "retry": {
                      "attempts": 3
                  },
                  "cache": {
                      "mode": "semantic"
                  }
              }
          )
          print(updated_config)
      - lang: javascript
        label: Self-Hosted
        source: |
          import { Portkey } from "portkey-ai";

          const portkey = new Portkey({
              apiKey:"PORTKEY_API_KEY",
              baseUrl: "SELF_HOSTED_CONTROL_PLANE_URL"
          })

          const config=await portkey.configs.update({
              slug:"CONFIG_SLUG",
              name:"Updated Config",
              config:{
                  "retry": {
                      "attempts": 3
                  },
                  "cache": {
                      "mode": "semantic"
                  }
              },

          })

          console.log(config);
  /configs/{slug}/versions:
    servers: *id001
    get:
      summary: List versions for a config
      tags:
      - Configs
      operationId: listConfigVersions
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A list of config versions
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        name:
                          type: string
                        workspace_id:
                          type: string
                          format: uuid
                        slug:
                          type: string
                        organisation_id:
                          type: string
                          format: uuid
                        is_default:
                          type: integer
                        status:
                          type: string
                        owner_id:
                          type: string
                          format: uuid
                        updated_by:
                          type: string
                          format: uuid
                        created_at:
                          type: string
                          format: date-time
                        last_updated_at:
                          type: string
                          format: date-time
                        config:
                          type: string
                          description: Serialized configuration for this version
                        format:
                          type: string
                        type:
                          type: string
                        version_id:
                          type: string
                          format: uuid
                        object:
                          type: string
              examples:
                example-1:
                  value:
                    object: list
                    total: 1
                    data:
                    - id: daab995b-8d3b-42c5-a490-47217fbf4e0e
                      name: PII Redaction Guardrail
                      workspace_id: 8610029e-692a-4df6-9052-3fa3eff69911
                      slug: pc-pii-re-7f1051
                      organisation_id: 472d2804-d054-4226-b4ae-9d4e2e61e69e
                      is_default: 0
                      status: active
                      owner_id: c4c7996d-be62-429d-b787-5d48fe94da86
                      updated_by: c4c7996d-be62-429d-b787-5d48fe94da86
                      created_at: '2025-10-17T19:11:47.000Z'
                      last_updated_at: '2025-10-17T19:11:47.000Z'
                      config: '{"input_guardrails":["pg-patron-1d0224"]}'
                      format: json
                      type: ORG_CONFIG
                      version_id: 8c1a4fbf-26d9-49df-82ca-ab772ba397d2
                      object: config
      x-code-samples:
      - lang: curl
        label: Default
        source: |
          curl --location 'https://api.portkey.ai/v1/configs/pc-pii-re-7f1051/versions' \
          --header 'x-portkey-api-key: PORTKEY_API_KEY'
  /integrations:
    servers: *id001
    get:
      summary: List All Integrations
      tags:
      - Integrations
      parameters:
      - in: query
        name: current_page
        schema:
          type: integer
        description: Current page, defaults to 0
      - in: query
        name: page_size
        schema:
          type: integer
        description: Page size, default to 100
      - in: query
        name: workspace_id
        schema:
          type: string
        description: Filter integrations accessible by a specific workspace. When using workspace API keys, this value will be enforced based on the API key details
      - in: query
        name: type
        schema:
          type: string
          enum:
          - workspace
          - organisation
          - all
          default: all
        description: For type=workspace, the API will only return Workpace-Scoped integrations. For type=organisation, the API will only return Global (organisation level) integrations. For type=all, both types of integrations will be returned.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    enum:
                    - list
                  total:
                    type: integer
                    description: Total number of integrations
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/IntegrationList'
      x-code-samples:
      - lang: python
        label: Default
        source: |
          from portkey_ai import Portkey

          # Initialize the Portkey client
          portkey = Portkey(
              api_key="PORTKEY_API_KEY",
          )

          # List integrations
          integrations = portkey.integrations.list()

          print(integrations)
      - lang: javascript
        label: Default
        source: |
          import { Portkey } from "portkey-ai";

          const portkey = new Portkey({
              apiKey: "PORTKEY_API_KEY",
          })

          const integrations = await portkey.integrations.list({})
          console.log(integrations);
      - lang: curl
        label: Default
        source: |
          curl -X GET https://api.portkey.ai/v1/integrations \
          -H "x-portkey-api-key: PORTKEY_API_KEY"
      - lang: python
        label: Self-Hosted
        source: |
          from portkey_ai import Portkey

          # Initialize the Portkey client
          portkey = Portkey(
              api_key="PORTKEY_API_KEY",
              base_url="SELF_HOSTED_CONTROL_PLANE_URL"
          )

          # List integrations
          integrations = portkey.integrations.list()

          print(integrations)
      - lang: javascript
        label: Self-Hosted
        source: |
          import { Portkey } from "portkey-ai";

          const portkey = new Portkey({
              apiKey: "PORTKEY_API_KEY",
              baseUrl: "SELF_HOSTED_CONTROL_PLANE_URL"
          })

          const integrations = await portkey.integrations.list({})
          console.log(integrations);
      - lang: curl
        label: Self-Hosted
        source: |
          curl -X GET SELF_HOSTED_CONTROL_PLANE_URL/integrations \
          -H "x-portkey-api-key: PORTKEY_API_KEY"
    post:
      summary: Create a Integration
      tags:
      - Integrations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIntegrationRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: UUID
                  slug:
                    type: string
      x-code-samples:
      - lang: python
        label: Default
        source: |
          from portkey_ai import Portkey

          # Initialize the Portkey client
          portkey = Portkey(
              api_key="PORTKEY_API_KEY",
          )

          # Add a new integration
          integration = portkey.integrations.create(
              name="openai-production",
              ai_provider_id="openai",
              key="sk-..."
          )

          print(integration)
      - lang: javascript
        label: Default
        source: |
          import { Portkey } from "portkey-ai";

          const portkey = new Portkey({
              apiKey: "PORTKEY_API_KEY",
          })

          const integration = await portkey.integrations.create({
              name:"openai-production",
              ai_provider_id:"openai",
              key:"sk-...",
          })
          console.log(integration);
      - lang: curl
        label: Default
        source: |
          curl -X POST https://api.portkey.ai/v1/integrations \
          -H "x-portkey-api-key: PORTKEY_API_KEY" \
          -H "Content-Type: application/json" \
          -d '{
              "name": "openai-production",
              "ai_provider_id": "openai",
              "key": "sk-..."
          }'
      - lang: python
        label: Self-Hosted
        source: |
          from portkey_ai import Portkey

          # Initialize the Portkey client
          portkey = Portkey(
              api_key="PORTKEY_API_KEY",
              base_url="SELF_HOSTED_CONTROL_PLANE_URL"
          )

          # Add a new integration
          integration = portkey.integrations.create(
              name="openai-production",
              ai_provider_id="openai",
              key="sk-..."
          )

          print(integration)
      - lang: javascript
        label: Self-Hosted
        source: |
          import { Portkey } from "portkey-ai";

          const portkey = new Portkey({
              apiKey: "PORTKEY_API_KEY",
              baseUrl: "SELF_HOSTED_CONTROL_PLANE_URL"
          })

          const integration = await portkey.integrations.create({
              name: "openai-production",
              ai_provider_id: "openai",
              key: "sk-...",
          })
          console.log(integration);
      - lang: curl
        label: Self-Hosted
        source: |
          curl -X POST SELF_HOSTED_CONTROL_PLANE_URL/integrations \
          -H "x-portkey-api-key: PORTKEY_API_KEY" \
          -H "Content-Type: application/json" \
          -d '{
              "name": "openai-production",
              "ai_provider_id": "openai",
              "key": "sk-..."
          }'
  /integrations/{slug}:
    servers: *id001
    get:
      summary: Get a Integration
      tags:
      - Integrations
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDetailResponse'
      x-code-samples:
      - lang: python
        label: Default
        source: |
          from portkey_ai import Portkey

          # Initialize the Portkey client
          portkey = Portkey(
              api_key="PORTKEY_API_KEY",
          )

          # Get a specific virtual key
          virtual_key = portkey.virtual_keys.retrieve(
              slug='VIRTUAL_KEY_SLUG'
          )

          print(virtual_key)
      - lang: javascript
        label: Default
        source: |
          import { Portkey } from "portkey-ai";

          const portkey = new Portkey({
              apiKey: "PORTKEY_API_KEY",
          })

          const vKey=await portkey.virtualKeys.retrieve({
              slug:'VIRTUAL_KEY_SLUG'
          })
          console.log(vKey);
      - lang: curl
        label: Default
        source: |
          curl -X GET https://api.portkey.ai/v1/virtual-keys/VIRTUAL_KEY_SLUG \
          -H "x-portkey-api-key: PORTKEY_API_KEY"
      - lang: curl
        label: Self-Hosted
        source: |
          curl -X GET SELF_HOSTED_CONTROL_PLANE_URL/virtual-keys/VIRTUAL_KEY_SLUG \
          -H "x-portkey-api-key: PORTKEY_API_KEY"
      - lang: python
        label: Self-Hosted
        source: |
          from portkey_ai import Portkey

          # Initialize the Portkey client
          portkey = Portkey(
              api_key="PORTKEY_API_KEY",
              base_url="SELF_HOSTED_CONTROL_PLANE_URL"
          )

          # Get a specific virtual key
          virtual_key = portkey.virtual_keys.retrieve(
              slug='VIRTUAL_KEY_SLUG'
          )

          print(virtual_key)
      - lang: javascript
        label: Self-Hosted
        source: |
          import { Portkey } from "portkey-ai";

          const portkey = new Portkey({
              apiKey: "PORTKEY_API_KEY",
              baseUrl: "SELF_HOSTED_CONTROL_PLANE_URL"
          })

          const vKey=await portkey.virtualKeys.retrieve({
              slug:'VIRTUAL_KEY_SLUG'
          })
          console.log(vKey);
    put:
      summary: Update a Integration
      tags:
      - Integrations
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIntegrationRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    description: Integration ID
                  slug:
                    type: string
                    description: Integration slug
                  object:
                    type: string
                    enum:
                    - integration
      x-code-samples:
      - lang: python
        label: Default
        source: |
          from portkey_ai import Portkey

          # Initialize the Portkey client
          portkey = Portkey(
              api_key="PORTKEY_API_KEY",
          )

          # Update a specific integration
          integration = portkey.integrations.update(
              slug="INTEGRATION_SLUG',
              name="updated-name",
              note="hello"
          )

          print(integration)
      - lang: javascript
        label: Default
        source: |
          import { Portkey } from "portkey-ai";

          const portkey = new Portkey({
              apiKey: "PORTKEY_API_KEY",
          })

          const integration = await portkey.integrations.update({
              slug:"INTEGRATION_SLUG",
              name:"updated-name",
              note:"hello"
          })
          console.log(integration);
      - lang: curl
        label: Default
        source: |
          curl -X PUT "https://api.portkey.ai/v1/integrations/INTEGRATION_SLUG" \
          -H "x-portkey-api-key: PORTKEY_API_KEY" \
          -H "Content-Type: application/json" \
          -d '{
              "name": "updated-name",
              "note": "hello"
          }'
      - lang: curl
        label: Self-Hosted
        source: |
          curl -X PUT "SELF_HOSTED_CONTROL_PLANE_URL/integrations/INTEGRATION_SLUG" \
          -H "x-portkey-api-key: PORTKEY_API_KEY" \
          -H "Content-Type: application/json" \
          -d '{
              "name": "updated-name",
              "note": "hello"
          }'
      - lang: python
        label: Self-Hosted
        source: |
          from portkey_ai import Portkey

          # Initialize the Portkey client
          portkey = Portkey(
              api_key="PORTKEY_API_KEY",
              base_url="SELF_HOSTED_CONTROL_PLANE_URL"
          )

          # Update a specific integration
          integration = portkey.integrations.update(
              slug="INTEGRATION_SLUG',
              name="updated-name",
              note="hello"
          )

          print(integration)
      - lang: javascript
        label: Self-Hosted
        source: |
          import { Portkey } from "portkey-ai";

          const portkey = new Portkey({
              apiKey: "PORTKEY_API_KEY",
              baseUrl: "SELF_HOSTED_CONTROL_PLANE_URL"
          })

          const integration = await portkey.integrations.update({
              slug:'INTEGRATION_SLUG',
              name:"updated-name",
              note:"hello"
          })
          console.log(integration);
    delete:
      summary: Delete a Integration
      tags:
      - Integrations
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the deletion was successful
                  object:
                    type: string
                    enum:
                    - integration
      x-code-samples:
      - lang: python
        label: Default
        source: |
          from portkey_ai import Portkey

          # Initialize the Portkey client
          portkey = Portkey(
              api_key="PORTKEY_API_KEY",
          )

          # Delete a specific integration
          result = portkey.integrations.delete(
              slug="INTEGRATION_SLUG"
          )

          print(result)
      - lang: javascript
        label: Default
        source: |
          import { Portkey } from "portkey-ai";

          const portkey = new Portkey({
              apiKey: "PORTKEY_API_KEY",
          })

          const result=await portkey.integrations.delete({
              slug:'INTEGRATION_SLUG',
          })
          console.log(result);
      - lang: curl
        label: Default
        source: |
          curl -X DELETE https://api.portkey.ai/v1/integrations/INTEGRATION_SLUG
      - lang: curl
        label: Self-Hosted
        source: |
          curl -X DELETE https://SELF_HOSTED_CONTROL_PLANE_URL/integrations/INTEGRATION_SLUG
      - lang: python
        label: Self-Hosted
        source: |
          from portkey_ai import Portkey

          # Initialize the Portkey client
          portkey = Portkey(
              api_key="PORTKEY_API_KEY",
              base_url="SELF_HOSTED_CONTROL_PLANE_URL"
          )

          # Delete a specific integration
          result = portkey.integrations.delete(
              slug="INTEGRATION_SLUG"
          )

          print(result)
      - lang: javascript
        label: Self-Hosted
        source: |
          import { Portkey } from "portkey-ai";

          const portkey = new Portkey({
              apiKey: "PORTKEY_API_KEY",
              baseUrl: "SELF_HOSTED_CONTROL_PLANE_URL"
          })

          const result=await portkey.integrations.delete({
              slug:"INTEGRATION_SLUG",
          })
          console.log(result);
  /integrations/{slug}/models:
    get:
      summary: List integration models
      description: Retrieves all model access for a specific integration with their configuration and pricing details.
      tags:
      - Integrations > Models
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of integration models
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationModelsResponse'
    put:
      summary: Bulk update integration models
      description: |
        Updates model access, pricing configuration, and settings for multiple models in an integration.
        Can enable/disable models and configure custom pricing.
      tags:
      - Integrations > Models
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkUpdateModelsRequest'
      responses:
        '200':
          description: Models updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the update was successful
                  object:
                    type: string
                    enum:
                    - integration_models
    delete:
      summary: Bulk delete integration custom models
      description: Removes multiple custom models from an integration by their slugs.
      tags:
      - Integrations > Models
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      - name: slugs
        in: query
        required: true
        description: Comma-separated list of model slugs to delete
        schema:
          type: string
          example: gpt-4,gpt-3.5-turbo
      responses:
        '200':
          description: Models deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the deletion was successful
  /integrations/{slug}/workspaces:
    get:
      summary: List integration workspace access
      description: Retrieves workspace access configuration for an integration, including usage limits and rate limits.
      tags:
      - Integrations > Workspaces
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of workspace access configurations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationWorkspacesResponse'
    put:
      summary: Bulk update workspace access
      description: |
        Updates workspace access permissions, usage limits, and rate limits for an integration.
        Can configure global workspace access or per-workspace settings.
      tags:
      - Integrations > Workspaces
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkUpdateWorkspacesRequest'
      responses:
        '200':
          description: Workspace access updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the update was successful
                  object:
                    type: string
                    enum:
                    - integration_workspaces
  /providers:
    servers: *id001
    get:
      summary: List All Providers
      tags:
      - Providers
      parameters:
      - in: query
        name: current_page
        schema:
          type: integer
        description: Current page, defaults to 0
      - in: query
        name: page_size
        schema:
          type: integer
        description: Page size, default to 50
      - in: query
        name: workspace_id
        schema:
          type: string
        description: Not required when using workspace API keys. Required when using organisation admin keys
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    enum:
                    - list
                  total:
                    type: integer
                    description: Total number of providers
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Providers'
      x-code-samples:
      - lang: python
        label: Default
        source: |
          from portkey_ai import Portkey

          # Initialize the Portkey client
          portkey = Portkey(
              api_key="PORTKEY_API_KEY"
          )

          # List providers
          # Optional workspace_id
          providers = portkey.providers.list(workspace_id="")

          print(providers)
      - lang: javascript
        label: Default
        source: |
          import { Portkey } from "portkey-ai";

          const portkey = new Portkey({
              apiKey: "PORTKEY_API_KEY",
          })

          const providers = await portkey.providers.list({
            workspaceId: "" // Optional
          })
          console.log(providers);
      - lang: curl
        label: Default
        source: |
          curl -X GET https://api.portkey.ai/v1/providers?workspace_id= \
          -H "x-portkey-api-key: PORTKEY_API_KEY"
      - lang: python
        label: Self-Hosted
        source: |
          from portkey_ai import Portkey

          # Initialize the Portkey client
          portkey = Portkey(
              api_key="PORTKEY_API_KEY",
              base_url="SELF_HOSTED_CONTROL_PLANE_URL"
          )

          # List virtual keys
          # Optional workspace_id
          providers = portkey.providers.list(workspace_id="")

          print(providers)
      - lang: javascript
        label: Self-Hosted
        source: |
          import { Portkey } from "portkey-ai";

          const portkey = new Portkey({
              apiKey: "PORTKEY_API_KEY",
              baseUrl: "SELF_HOSTED_CONTROL_PLANE_URL"
          })

          const providers = await portkey.providers.list({
            workspace_id: "" // Optional
          })
          console.log(providers);
      - lang: curl
        label: Self-Hosted
        source: |
          curl -X GET SELF_HOSTED_CONTROL_PLANE_URL/providers?workspace_id= \
          -H "x-portkey-api-key: PORTKEY_API_KEY"
    post:
      summary: Create a Provider
      tags:
      - Providers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                integration_id:
                  type: string
                  description: Integration slug used for the provider creation.
                workspace_id:
                  type: string
                  format: uuid
                  description: optional, needed when using organisation admin API keys
                slug:
                  type: string
                  description: Slug for the provider. If not passed, slug will be created by adding a random suffix to the name.
                note:
                  type: string
                  nullable: true
                usage_limits:
                  $ref: '#/components/schemas/UsageLimits'
                rate_limits:
                  $ref: '#/components/schemas/RateLimits'
                expires_at:
                  type: string
                  format: date-time
              required:
              - name
              - integration_id
            examples:
              generic:
                value:
                  name: My first provider
                  note: Provider description
                  integration_id: my-openai-integration
                  usage_limits:
                    credit_limit: 10
                    periodic_reset: monthly
                    alert_threshold: 9
                  workspace_id: ''
                  slug: first-openai-provider
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  slug:
                    type: string
      x-code-samples:
      - lang: python
        label: Default
        source: |
          from portkey_ai import Portkey

          # Initialize the Portkey client
          portkey = Portkey(
              api_key="PORTKEY_API_KEY",
          )

          # Add a new provider
          new_provider = portkey.providers.create(
              name="openai provider",
              integration_id="",
              workspace_id=""
          )

          print(new_provider)
      - lang: javascript
        label: Default
        source: |
          import { Portkey } from "portkey-ai";

          const portkey = new Portkey({
              apiKey: "PORTKEY_API_KEY",
          })

          const provider = await portkey.providers.create({
              name: "openai provider",
              integration_id: "",
              workspace_id: ""
          })
          console.log(provider);
      - lang: curl
        label: Default
        source: |
          curl -X POST https://api.portkey.ai/v1/providers \
          -H "x-portkey-api-key: PORTKEY_API_KEY" \
          -H "Content-Type: application/json" \
          -d '{
              "name": "openai provider",
              "integration_id": "",
              "workspace_id": ""
          }'
      - lang: python
        label: Self-Hosted
        source: |
          from portkey_ai import Portkey

          # Initialize the Portkey client
          portkey = Portkey(
              api_key="PORTKEY_API_KEY",
              base_url="SELF_HOSTED_CONTROL_PLANE_URL"
          )

          # Add a new provider
          new_provider = portkey.providers.create(
              name="openai provider",
              integration_id="",
              workspace_id=""
          )

          print(new_provider)
      - lang: javascript
        label: Self-Hosted
        source: |
          import { Portkey } from "portkey-ai";

          const portkey = new Portkey({
              apiKey: "PORTKEY_API_KEY",
              baseUrl: "SELF_HOSTED_CONTROL_PLANE_URL"
          })

          const newProvider = await portkey.providers.create({
              name: "openai provider",
              integration_id: "",
              workspace_id: ""
          })
          console.log(newProvider);
      - lang: curl
        label: Self-Hosted
        source: |
          curl -X POST SELF_HOSTED_CONTROL_PLANE_URL/providers \
          -H "x-portkey-api-key: PORTKEY_API_KEY" \
          -H "Content-Type: application/json" \
          -d '{
              "name": "openai provider",
              "integrationId": "",
              "workspaceId": ""
          }'
  /providers/{slug}:
    servers: *id001
    get:
      summary: Get a Provider
      tags:
      - Providers
      parameters:
      - in: query
        name: workspace_id
        schema:
          type: string
        description: optional, needed when using organisation admin keys
      - in: path
        name: slug
        schema:
          type: string
        required: true
        description: Provider slug
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Providers'
      x-code-samples:
      - lang: python
        label: Default
        source: |
          from portkey_ai import Portkey

          # Initialize the Portkey client
          portkey = Portkey(
              api_key="PORTKEY_API_KEY",
          )

          # Get a specific provider
          provider = portkey.providers.retrieve(
              slug="PROVIDER_SLUG",
              workspace_id=""
          )

          print(provider)
      - lang: javascript
        label: Default
        source: |
          import { Portkey } from "portkey-ai";

          const portkey = new Portkey({
              apiKey: "PORTKEY_API_KEY",
          })

          const provider = await portkey.providers.retrieve({
              slug:"PROVIDER_SLUG",
              workspace_id: ""
          })
          console.log(provider);
      - lang: curl
        label: Default
        source: |
          curl -X GET https://api.portkey.ai/v1/providers/PROVIDER_SLUG?workspace_id= \
          -H "x-portkey-api-key: PORTKEY_API_KEY"
      - lang: curl
        label: Self-Hosted
        source: |
          curl -X GET SELF_HOSTED_CONTROL_PLANE_URL/providers/PROVIDER_SLUG?workspace_id= \
          -H "x-portkey-api-key: PORTKEY_API_KEY"
      - lang: python
        label: Self-Hosted
        source: |
          from portkey_ai import Portkey

          # Initialize the Portkey client
          portkey = Portkey(
              api_key="PORTKEY_API_KEY",
              base_url="SELF_HOSTED_CONTROL_PLANE_URL"
          )

          # Get a specific provider
          provider = portkey.providers.retrieve(
              slug="PROVIDER_SLUG",
              workspace_id=""
          )

          print(provider)
      - lang: javascript
        label: Self-Hosted
        source: |
          import { Portkey } from "portkey-ai";

          const portkey = new Portkey({
              apiKey: "PORTKEY_API_KEY",
              baseUrl: "SELF_HOSTED_CONTROL_PLANE_URL"
          })

          const provider = await portkey.providers.retrieve({
              slug: "PROVIDER_SLUG",
              workspace_id: ""
          })
          console.log(provider);
    put:
      summary: Update a Provider
      tags:
      - Providers
      parameters:
      - in: query
        name: workspace_id
        schema:
          type: string
        description: optional, needed when using organisation admin keys
      - in: path
        name: slug
        schema:
          type: string
        required: true
        description: Provider slug
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                note:
                  type: string
                usage_limits:
                  $ref: '#/components/schemas/UsageLimits'
                  nullable: true
                rate_limits:
                  $ref: '#/components/schemas/RateLimits'
                expires_at:
                  type: string
[...]
